.App {
    text-align: center;
}

.view-content {
    padding: 1px 16px;
    padding-left: 300px;
    width: -moz-fit-content;
    background: #151412;
    min-height: 100vh;
}

.view-title {
    padding: 32px 12px 12px;
    color: #cdcdcd;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
