.sidebar {
    background: #242424;
    height: 100%;
    width: 280px;
    position: fixed;
    top: 0;
    left: 0;
}

.sidebar-header {
    padding: 48px 22px 52px;
    display: flex;
}

.sidebar-company-logo {
    height: 50px;
    width: 50px;
    border-radius: 16px;
}

.sidebar-description {
    font-size: 15px;
    color: #cdcdcd;
    margin: 0 0 0 3%;
    display: flex;
    align-items: center;
}

.sidebar-content {
    border-radius: 8px;
    width: 100%;
    left: 22px;
    display: flex;
}

.sidebar-content-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
    margin-bottom: 4px;
}

.sidebar-content-nav {
    width: 100%;
}

.sidebar-content-title {
    font-family: 'DefaultFont', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 12px;
    color: #898989;
}

.list-icon {
    margin-right: 10px;
    font-size: 23px;
    display: flex;
    color: #8989f5;
    align-items: center;
}

.sidebar-content-link {
    height: 46px;
    padding: 14px;
    padding-left: 28px;
    width: 100%;
    border: unset;
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #d7d7d7;
    text-align: center;
    font-size: 19px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.6s;
    font-family: 'DefaultFont', sans-serif;
    border-top: solid 1px #242424;
    border-bottom: solid 1px #242424;
}

.sidebar-content-link:hover {
    background: #464646;
    transition: 0.6s;
}

.sidebar-selected {
    background: #464646;
    border-right: solid 5px #8989f5;
    width: 104%;
    padding-left: 34px;
    border-radius: 6px;
}